div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#header {
    max-width: 100%;
}

#outerDiv {
    margin: 0 auto;
    bottom: 0px;
    max-width: 1024px;
}

#innerDiv {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

ul {
    list-style-type: none;
    display: inline-block;
}


/*使li之間有間距-*/

ul > li {
    padding-top: 10px;
}

ul > li > div {}


/*背景*/

.bg {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -9999;
}

body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
